@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MonumentBold';
  src: url('../app/fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
      url('../app/fonts/MonumentExtended-Ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MonumentLight';
  src: url('../app/fonts/MonumentExtended-Regular.woff2') format('woff2'),
      url('../app/fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Austin';
  src: url('../app/fonts/Austin.woff2') format('woff2'),
      url('../app/fonts/Austin.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AustinModern';
  src: url('../app/fonts/AustinModern.woff2') format('woff2'),
      url('../app/fonts/AustinModern.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AustinSmallCaps';
  src: url('../app/fonts/AustinSmallCaps.woff2') format('woff2'),
      url('../app/fonts/AustinSmallCaps.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


* {
  @apply p-0 m-0 box-border
}

html {
  @apply scroll-smooth
}
